@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .app-base-transform {
    @apply transform transition-all duration-300;
  }

  .dir-rtl {
    direction: rtl;
  }

  .dir-ltr {
    direction: ltr;
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.te-header-one {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.te-header-two {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.te-header-three {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.te-unstyled,
.public-DraftEditorPlaceholder-inner {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.public-DraftEditorPlaceholder-inner {
  @apply opacity-0 app-base-transform;
}
.public-DraftEditorPlaceholder-hasFocus .public-DraftEditorPlaceholder-inner {
  @apply opacity-100;
}
.et-container {
  @apply w-[480px];
}

.et-wrapper {
  @apply w-[432px];
}

[contentEditable="true"]:empty:not(:focus)::before {
  content: attr(data-ph);
}
